@model IEnumerable<GrandApp.Models.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArrivaldateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeparturedateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivaldateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeparturedateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
