@model IEnumerable<GrandApp.Models.Data.Booking>

@{
    ViewData["Title"] = "Бронирование";
}


 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Бронирование</li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="RoomCategories" asp-action="Index">Категории</a></li>
    </ol>
</nav> 
<h2>Бронирование</h2>

<h6>
    <a class="btn text-dark" asp-action="Create">
        <i class="fa-solid fa-check"></i> Забронировать
    </a>
</h6>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArrivaldateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeparturedateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberGuests)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivaldateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeparturedateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberGuests)
                </td>
                <td class="noUnderlining">
                    <a asp-action="Edit" asp-route-id="@item.ID" title="Редактировать">
                        <i class="fa-solid fa-pencil fa-lg"></i>
                    </a> 
                    <a asp-action="Details" asp-route-id="@item.ID" title="Подробнее">
                        <i class="fa-regular fa-eye fa-lg"></i>
                    </a> 
                    <a asp-action="Delete" asp-route-id="@item.ID" title="Удалить">
                        <i class="far fa-minus-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
